<!DOCTYPE html>
<html ng-app="myApp" >
    <head>
        <meta charset="utf-8">
        <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
         <link href="css/jumbotron-narrow.css" rel="stylesheet"> -->
         <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
         <link rel="stylesheet" href="css/style.css">
     </head>
     <body class="body">

         <div ng-view="" ></div>

         <script src="js/angular.min.js"></script>
         <script src="js/angular-route.min.js"></script>
         <script src="app/app.js"></script>

         <script src="app/Controllers/homeController.js"></script>
         <script src="app/Controllers/loginController.js"></script>
         <script src="app/Controllers/signUpController.js"></script>
         <script src="app/APIs/session.js"></script>
         <script src="app/APIs/user.js"></script>
         <script src="app/Config/routeConfiguration.js"></script>

     </body>
 </html>