
<div class="container">

    <div id="cadastro">

        <form >

           <p> cadastre-se!</p>
            <fieldset class="clearfix-cadastro">
                <p><span class="fontawesome-user"></span><input type="text" ng-model="user.email"  placeholder="Username" ></p>
                <p><span class="fontawesome-lock"></span>  <input type="password" ng-model="user.password" placeholder="********"></p>
                <p> <input type="submit" ng-click="login()" value="Sign In" ></p>

            </fieldset>
        </form>

        <p>Not a member? <a href="#">Sign up now</a><span class="fontawesome-arrow-right"></span></p>

    </div>
